<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.the_ring.dao.ReaderInfoMapper">
    <insert id="addReaderInfo" parameterType="com.the_ring.domain.ReaderInfo">
        INSERT INTO reader_info VALUES (#{readerId}, #{name}, #{sex}, #{birth}, #{address}, #{telcode})
    </insert>
    <update id="editReaderInfo" parameterType="com.the_ring.domain.ReaderInfo">
        UPDATE reader_info set name=#{name}, sex=#{sex}, birth=#{birth}, address=#{address}, telcode=#{telcode} where reader_id = #{readerId}
    </update>
    <delete id="deleteReaderInfo">
        DELETE FROM reader_info where reader_id = #{readerId}
    </delete>

    <resultMap id="ReaderInfo" type="com.the_ring.domain.ReaderInfo">
        <id property="readerId" column="reader_id"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="birth" column="birth"/>
        <result property="address" column="address"/>
        <result property="telcode" column="telcode"/>
    </resultMap>
    <select id="getAllReaderInfo" resultMap="ReaderInfo">
        SELECT * FROM reader_info
    </select>
    <select id="findReaderInfoByReaderId" resultMap="ReaderInfo">
SELECT * FROM reader_info where reader_id = #{readerId}
    </select>
</mapper>