<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.the_ring.dao.ReaderCardMapper">

    <insert id="addReaderCard">
        INSERT INTO reader_card (reader_id,name) values (#{readerId}, #{name})
    </insert>
    <update id="rePassword">
        UPDATE reader_card set passwd = #{param2} where reader_id = #{param1}
    </update>
    <update id="updateName">
        UPDATE reader_card set name = #{param2} where reader_id = #{param1}
    </update>


    <select id="getMatchCount" resultType="java.lang.Integer">
        select count(*) from reader_card where reader_id = #{reader_id} and passwd = #{password}
    </select>

    <resultMap id="ReaderCard" type="com.the_ring.domain.ReaderCard">
        <id property="readerId" column="reader_id"/>
        <result property="name" column="name"/>
        <result property="passwd" column="passwd"/>
        <result property="cardState" column="card_state"/>
    </resultMap>
    <select id="findReaderByReaderId" resultMap="ReaderCard">
        select reader_id, name, passwd, card_state from reader_card where reader_id = #{readerId}
    </select>
</mapper>